theme: jekyll-theme-minimal
title: Documentation Hub
description: Luminous Digital Projects Documentation

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    default_lang: text
  hard_wrap: false

highlighter: rouge

plugins:
  - jekyll-relative-links

relative_links:
  enabled: true
  collections: true

include:
  - _layouts

exclude:
  - README.md
  - LICENSE
  - .gitignore
